.program_inner {
    display: flex;
    justify-content: space-between;
}

.program__content {
    max-width: 600px;
    margin-right: 30px;
}

.companies__heading {
    margin-bottom: 60px;
}

.program__acc-item {
    min-height: fit-content;
    margin-bottom: 24px;
}

.program__acc-item:last-child {
    margin-bottom: 0;
}

.program__acc-link {
    display: block;
    padding-left: 40px;
    white-space: normal;
}

.program__acc-head {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-black-sp);
}

.program__acc-head::before,
.program__acc-head::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    width: 18px;
    height: 2px;
    background-color: var(--color-red-main);
    border-radius: 2px;
}

.program__acc-head::after {
    transform: rotate(90deg);
    transition: all 0.75s;
}

.program__acc-link--active .program__acc-head::after {
    transform: rotate(0deg);
}

.program__acc-head span {
    font-weight: 400;
    color: var(--color-red-main);
}

.program__acc-text {
    display: none;
    margin-top: 16px;
}