.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.blog__heading {
    margin-right: 60px;
}

.blog__row {
    display: flex;
    justify-content: center;
    max-width: var(--container-width);
}

.blog__item {
    padding: 15px 5px;
    margin: 0 5px;
    width: 400px;
    transition: all 1.5s;
    border-radius: 4px;
}

.blog__item:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.25),
        0px 30px 24px -10px rgba(154, 156, 165, 0.2),
        0px 12px 18px -6px rgba(154, 156, 165, 0.15),
        0px 4px 4px -4px rgba(30, 33, 44, 0.1);
    transition: all 0.5s;
}

.blog__item:hover .blog__item-button {
    color: var(--color-red-main-dark);
    transition: all 0.5s;
}

.blog__item-link {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.blog__image-box {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 4px;
    position: relative;
}

.blog__image-box img {
    width: 100%;
    height: 100%;
    max-width: 410px;
    object-fit: cover;
}

.blog__image-box span {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 2px 8px 1px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--color-img-grey);
}

.blog__image-box span img {
    border: none;
    margin-right: 3px;
    width: 12px;
    height: 12px;
}

.blog__item-content {
    display: flex;
    flex-direction: column;
}

.blog__item-info {
    display: flex;
}

.blog__info-el {
    padding: 12px;
    position: relative;
    color: var(--color-directions-text-grey);
}

.blog__info-el:last-child {
    margin-right: 0;
}

.blog__info-el:first-child {
    padding-left: 0px;
}

.blog__info-el:not(:first-child):after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 12px;
    background-color: var(--color-directions-text-grey);
}

.blog__info-el img {
    width: 13px;
    height: 13px;
    border: none;
    margin: 0 2px -1px 0;
}

.blog__info-date {
    position: relative;
}

.blog__info-icon {
    position: absolute;
    top: 20%;
    left: 5px;
    width: 20px;
    height: 20px;
    color: var(--color-directions-text-grey);
    border: none;
    margin-top: 5px;
    transform: translateY(-20%);
    fill: var(--color-directions-text-grey);
}

.blog__info-icon svg path {
    fill: var(--color-directions-text-grey);
    color: var(--color-directions-text-grey);
}

.blog__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
    color: var(--color-black-sp);
    white-space: wrap;
}

.blog__item-txt {
    white-space: wrap;
    margin-bottom: 16px;
}

.blog__item-button {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--color-black-sp);
    transition: all 1.5s;
}

.blog__item-button img {
    width: 16px;
    height: 16px;
    border: none;
    margin-left: 8px;
}