:root {
    --container-width: 1230px;
    --gap: 15px;
    --gap450: 2%;
    --content-margin-right: 30px;
    --max-height-cert__image-box-img: 427px;
    --max-width-team__slide: 265px;
    --color-grey: #424551;
    --color-img-grey: #cfcfcf;
    --color-black-sp: #1e212c;
    --color-red-main: #ff3f3a;
    --color-red-main-opacity012: rgb(255, 63, 58, 0.12);
    --color-red-main-opacity02: rgb(255, 63, 58, 0.2);
    --color-red-main-dark: rgb(180, 6, 0);
    --color-orange: #f75e05;
    --color-orange-opacity02: rgb(247, 94, 5, 0.2);

    --color-gray-btn: #9a9ca5;
    --color-section-bg: #e7f6ff;
    /* --color-section-bg: #d8d8d8; */
    /* --color-section-bg: #f4f5f7; */

    --color-directions-text-grey: #787a80;
    --color-direction-list-empty: #e9e9e9;
    --color-marketing-link-tag: #03CEA4;
    --color-management-link-tag: #5a87fc;
    --color-hr-link-tag: #f89828;
    --color-design-link-tag: #f25f6e;
    --color-development-link-tag: #5e5cb3;
    --color-border-form-element: #d7dadd;
    --color-placeholder: #9a9ca5;
    --bg-color-footer-bottom: #292c37;
}

html, body {
    font-family: sans-serif;
    color: var(--color-grey)
}

img {
    border: 1px solid var(--color-img-grey);
    border-radius: 3px;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: calc(var(--container-width) + var(--gap) + var(--gap));
    padding: 0 var(--gap);
    margin: 0 auto;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: all .75s;
}

.overlay--show {
    visibility: visible;
    opacity: 1;
}

.burger {
    display: none;
}

.main__about {
    padding: 30px 0 80px;
    background-color: var(--color-section-bg);
}

.main__directions, .main__companies,
.main__blog, .main_questions {
    padding: 80px 0;
}

.main__cert {
    padding: 80px 0 0;
    margin-bottom: -46px;
    background-color: var(--color-section-bg);
}

.main__team {
    padding: 180px 0 60px;
}

.main__testimonials, .main__program, .main__info {
    padding: 80px 0;
    background-color: var(--color-section-bg);
}

#students_img_2 {
    display: none;
}

.button {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    margin-right: 5px;
    color: #fff !important;
    border-radius: 4px;
    background: linear-gradient(55.95deg, var(--color-red-main) 0%, var(--color-orange) 100%);
    white-space: nowrap;
    transition: all 0.5s;
}

.button a {
    color: #fff;
}

.button-empty {
    background-image: none;
    border-left: 2px solid var(--color-red-main);
    border-right: 2px solid var(--color-orange);
    background-image: -webkit-linear-gradient(55.95deg, var(--color-red-main), var(--color-orange)), -webkit-linear-gradient(55.95deg, var(--color-red-main), var(--color-orange));
    background-image: linear-gradient(55.95deg, var(--color-red-main), var(--color-orange)), linear-gradient(55.95deg, var(--color-red-main), var(--color-orange));
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.button-empty span {
    background: linear-gradient(55.95deg, var(--color-red-main), var(--color-orange));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--color-red-main);
}

.heading {
    color: var(--color-black-sp)
}

.heading--text-center {
    text-align: center;
}

.heading__subtitle {
    line-height: 150%;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.heading__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.button:hover {
    transform: scale(1.03);
}

a {
    text-decoration: none;
    white-space: nowrap;
    color: var(--color-grey)
}

a:visited {
    color: var(--color-grey)
}

/* ========================= SLIDER ==============================*/

.global__slider-arrow svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 14px;
    transition: all .75s;
}

.global__slider-arrow svg:hover {
    scale: 1.1;
    background-color: var(--color-red-main);
}

.global__slider-arrow path {
    fill: var(--color-grey);
    transition: all .5s;
}

.global__slider-arrow:hover path {
    fill: white;
}

.global__slider-prev {
    margin-right: 10px;
}

.global__slider-prev svg {
    transform: scaleX(-1);
}

/* ================================================================*/
/* =============================== HEADER ============================== */

.header {
    font-weight: 700;
    background: linear-gradient(55.95deg, var(--color-red-main-opacity02), var(--color-orange-opacity02));
    height: 100vh;
    padding-bottom: 20px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: 100%;
}

.header__logo {
    margin-right: 60px;
    color: var(--color-grey);
    transition: all 2s;
}

.header__logo img {
    border: none;
}

.header__logo:hover {
    scale: 1.05;
    transition: all 0.5s;
}

.header__nav {
    margin-right: auto;

}

.header__nav a {
    color: var(--color-grey);
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    line-height: 1.6;
    white-space: nowrap;
    transition: all 0.3s;
}

.header__nav-link:hover {
    color: var(--color-red-main);
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__top-btn:visited {
    color: #fff;
}

.header__user-nav {
    position: relative;
    padding-left: 28px;
    white-space: nowrap;
}

.header__user-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../icons/3643745-human-man-people-person-profile_113435.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    color: var(--color-grey);
}

.header__user-btn:hover {
    color: var(--color-red-main);
}

/* ------------------------------------------------------------------ */


.header__body {
    flex-grow: 1;
    margin-top: 30px;
    padding-top: 50px;
}

.header__body-logo {
    width: 100%;
    height: 92px;
    display: none;
}

.header__body-logo a {
    margin: 0 0;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-black-sp);
}

.header__content {
    margin-right: var(--content-margin-right);
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.header__play svg {
    fill: var(--color-red-main-dark);
    background-color: var(--color-red-main);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 18px;
    transition: all 0.4s;
}

.header__play svg:hover {
    fill: var(--color-red-main);
    background-color: white;
    box-shadow: 0 0 0 16px var(--color-red-main-opacity012);
}

.header__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 60px;
}

.header__content-buttons {
    display: flex;
}

.header__content_btn {
    margin-right: 24px;
}

.header__content_btn:last-child {
    margin-right: 0;
}

.header__img {
    border-radius: 4px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-top: 80px;
}

.header__row li .red_dot {
    display: block;
    background-color: var(--color-red-main);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 15px;
}

.header__row-item span {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    vertical-align: middle;
    margin-right: 12px;
}

/* ------------------------------------------------------------------ */
/* ================================================================ */
/* =========================== ABOUT ============================== */

.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 180px;
}

.about__createx img {
    max-width: 427px;
    max-height: 427px;
}

.about__createx-content {
    max-width: 600px;
    margin-right: var(--content-margin-right);
}

.about__heading {
    margin-bottom: 48px;
}

.about__text {
    margin-bottom: 60px;
}

.about__paragraph {
    margin-bottom: 24px;
}

.about__paragraph:last-child {
    margin-bottom: 0;
}

.about__paragraph--accent {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-black-sp)
}

.about__btn-box {
    display: flex;

}

.about__btn {
    margin-right: 24px;
}

.about__btn:last-child {
    margin-right: 0;
}

.about__values {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.about__image-box {
    border-radius: 4px;
}

.about__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__numbers {
    margin-left: var(--content-margin-right);
    align-self: flex-start;
    white-space: nowrap;
}

.about__number {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about__number:last-child {
    margin-bottom: 0;
}

.about__number span {
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: var(--color-red-main);
    margin-right: 16px;
}

/* ================================================================*/
/* ======================== DIRECTIONS ============================ */

.directions__heading {
    margin-bottom: 90px;
}

.directions__filter-box {
    display: flex;
    margin-bottom: 56px;
}

.directions__filter-item {
    margin-right: 45px;
}

.directions__filter-item:last-child {
    margin-right: 0;
}

.directions__filter-btn {
    background-color: transparent;
    color: var(--color-gray-btn);
    border: 1px solid var(--color-gray-btn);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 7px;
    white-space: nowrap;
}

.directions__filter-btn:hover {
    cursor: pointer;
    scale: 1.02;
}

.directions__filter-btn--active {
    background: linear-gradient(55.95deg, var(--color-red-main) 0%, var(--color-orange) 100%);
    color: white
}

.directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, auto);
    gap: 30px;
}

.directions__list-item {
    max-width: 390px;
    margin-bottom: 30px;
}

.directions__list-link {
    display: block;
    border-radius: 4px;
    overflow: hidden;
    transition: all 1.5s;
}

.directions__list-link:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.25),
        0px 30px 24px -10px rgba(154, 156, 165, 0.2),
        0px 12px 18px -6px rgba(154, 156, 165, 0.15),
        0px 4px 4px -4px rgba(30, 33, 44, 0.1);
    transition: all 0.5s;
}

.directions__list-link:hover .directions__link-btn {
    color: var(--color-red-main-dark);
}

.directions__image-box img {
    width: 100%;
    height: 100%;
}

.directions__link-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 24px 0px;
    border: 1px solid #e5e8ed;
    border-radius: 0 0 4px 4px;
    border-top: none;
    margin-top: -5px;
}

.directions__link-tag {
    line-height: 1;
    font-weight: 700;
    color: white;
    background-color: #999;
    padding: 6px 8px;
    border-radius: 4px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.directions__link-text {
    white-space: normal;
    color: var(--color-directions-text-grey);
    height: 70px;
}

.directions__link-btn {
    color: var(--color-black-sp);
    display: flex;
    margin-top: 10px;
    font-weight: 700;
    width: 140px;
    transition: all 1.5s;
}

.directions__link-btn::after {
    content: "";
    display: block;
    width: 20px;
    height: 24px;
    background: url(../icons/arrow_1_red.svg) 0 4px/ 100% no-repeat;
    margin-left: 11px;
}

.directions__list-item--empty {
    background: var(--color-direction-list-empty);
    font-weight: 700;
    font-style: 20px;
    line-height: 150%;
    text-align: center;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.directions__list-item--empty span {
    max-width: 200px;
}

.directions__list-item--marketing .directions__link-tag {
    background-color: var(--color-marketing-link-tag);
}

.directions__list-item--management .directions__link-tag {
    background-color: var(--color-management-link-tag);
}

.directions__list-item--hr .directions__link-tag {
    background-color: var(--color-hr-link-tag);
}

.directions__list-item--design .directions__link-tag {
    background-color: var(--color-design-link-tag);
}

.directions__list-item--development .directions__link-tag {
    background-color: var(--color-development-link-tag);
}

/* ================================================================ */
/* ======================= CERTIFICATION ========================== */
.cert__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.cert__content {
    margin-right: var(--content-margin-right);
    max-width: 400px;
}

.cert__heading {
    margin-bottom: 50px;
}

.cert__text {
    margin-bottom: 30px;
}

.cert__logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cert__logos-item {
    margin-right: 40px;
}

.cert__logos-item:last-child {
    margin-right: 0;
}

.cert__logos-item img {
    max-width: 80px;
    max-height: 50px;
    border: none;
}

.cert__image-box {
    position: absolute;
    top: 0;
    left: 50%;
    max-height: var(--max-height-cert__image-box-img);
}

.cert__image-box img {
    position: relative;
    max-height: var(--max-height-cert__image-box-img);
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.4),
        0px 30px 24px -10px rgba(154, 156, 165, 0.3),
        0px 12px 18px -6px rgba(154, 156, 165, 0.2),
        0px 4px 4px -4px rgba(30, 33, 44, 0.1);
    object-fit: contain;
    min-width: 295px;
}


/* ================================================================ */
/* =========================== TEAM =============================== */
.team__heading {
    position: relative;
    margin-bottom: 60px;
}

.team__slider-arrows {
    position: absolute;
    bottom: 0;
    right: 0;
}

.team__slider-arrow svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 14px;
    transition: all .75s;
}

.team__slider-arrow svg:hover {
    scale: 1.1;
    background-color: var(--color-red-main);
}

.team__slider-arrow path {
    fill: var(--color-grey);
    transition: all .5s;
}

.team__slider-arrow:hover path {
    fill: white;
}

.team__slider-prev {
    margin-right: 10px;
}

.team__slider-prev svg {
    transform: scaleX(-1);
}

.team__slider .slick-list {
    margin: 0 -25px;
}

.team__slide {
    max-width: var(--max-width-team__slide);
    margin: 0 33px;
}

.team__slide:hover .team__socials {
    transform: translateY(0%);
    cursor: pointer;
}

.team__image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
}

.team__image {
    position: relative;
    width: 100%;
    height: 100%;
}

.team__image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    border: none;
}

.team__socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 10px 0px;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%,
            rgba(30, 33, 44, 0.03) 52.21%,
            rgba(30, 33, 44, 0.33) 68.72%,
            rgba(30, 33, 44, 0.56) 76.16%,
            rgba(30, 33, 44, 0.76) 83.75%,
            rgba(30, 33, 44, 0.92) 91.49%,
            #1e212c 100%);
    transform: translateY(50%);
    transition: all .5s
}

.team__socials-item {
    position: absolute;
    right: 20px;
    bottom: 20px;
    margin: 4px 3px;
}

.team__socials-item:nth-child(2) {
    position: absolute;
    right: 52px;
    bottom: 20px;
    margin: 4px 3px;
}

.team__socials-item:last-child {
    position: absolute;
    right: 84px;
    bottom: 20px;
    margin: 4px 3px;
}

.team__socials-link svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--color-directions-text-grey);
    transition: all .5s;
}

.team__socials-link svg:hover {
    fill: white;
}

.team__info {
    text-align: center;
}

.team__info-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 5px;
}

.team__info-position {
    color: var(--color-directions-text-grey);
    line-height: 130%;
}

.slick-dots {
    display: flex;
    justify-content: center;
}

.slick-dots button {
    margin: 25px 15px;
    font-weight: 700;
    border: none;
    background: none;
    font-size: 16px;
    color: var(--color-directions-text-grey);
}

.slick-dots .slick-active button {
    color: var(--color-design-link-tag);
}

.slick-dots button:hover {
    color: var(--color-red-main-dark);
    cursor: pointer;
}

/* ================================================================ */
/* ======================= TESTIMONIALS =========================== */
.testimonials__inner {
    width: 100%;
}

.testimonials__heading {
    margin-bottom: 60px;
}

.testimonials__slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

.testimonials__slider {
    width: 100%;
    max-width: 1020px;
    margin: 0;
}

.testimonials__slide {
    padding: 64px;
    padding-left: 104px;
    background-color: white;
    border-radius: 4px;
}

.testimonials__slide-inner {
    max-width: 90%;
    margin: 0 auto;
}

.testimonials__quote {
    position: relative;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
}

.testimonials__quote:before {
    content: '"';
    position: absolute;
    top: 11px;
    left: -58px;
    font-size: 70px;
    color: var(--color-red-main);
}

.testimonials__user {
    display: flex;
    align-items: center;
}

.testimonials__avatar {
    margin-right: 20px;
}

.testimonials__avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.testimonials__info-name {
    font-weight: 700;
    color: var(--color-black-sp);
    padding: 8px 0 4px;
}

.testimonials__info-position {
    color: var(--color-directions-text-grey);
    font-size: 14px;
    line-height: 150%;
}

.testimonials__slider-arrow {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 85px;
    width: 48px;
}

.testimonials__slider-arrow svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 14px;
    transition: all .75s;
}

.testimonials__slider-arrow:hover svg {
    scale: 1.1;
    background-color: var(--color-red-main);
}

.testimonials__slider-arrow path {
    fill: var(--color-grey);
    transition: all .5s;
}

.testimonials__slider-arrow:hover path {
    fill: white;
}

.testimonials__slider-prev {
    margin: -5% 10px 0 0;
}

.testimonials__slider-prev svg {
    transform: scaleX(-1);
}

.testimonials__slider-next {
    margin: -5% 0 0 10px;
}

.testimonials__slider .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.testimonials__slider .slick-dots li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    margin: 0 5px;
    cursor: pointer;
}

.testimonials__slider .slick-dots button {
    width: 30px;
    height: 4px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    font-size: 0px;
    background-color: var(--color-directions-text-grey);
    margin: 0;
}

.testimonials__slider .slick-dots .slick-active button {
    background-color: var(--color-design-link-tag);
}

.testimonials__slider .slick-dots button:hover {
    background-color: var(--color-red-main-dark);
    transition: all .75s;
}

/* ================================================================ */
/* ========================= COMPANIES ============================ */
.companies__heading {
    margin-bottom: 60px;
}

.companies__grid {
    display: grid;
    grid-template: repeat(2, auto) / repeat(6, 1fr);
    gap: 40px 35px;
    place-items: center
}

.companies__grid-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 64px;
    filter: grayscale(1);
    opacity: 0.4;
    transition: all 1.5s;
}

.companies__grid-link:hover {
    scale: 1.2;
    filter: grayscale(0);
    opacity: 1;
    transition: all 0.75s;
}

.companies__grid-link img {
    max-width: 120px;
    max-height: 64px;
    border: none;
}

/* ================================================================ */
/* ========================== PROGRAM ============================= */
.program_inner {
    display: flex;
    justify-content: space-between;
}

.program__content {
    max-width: 600px;
    margin-right: 30px;
}

.companies__heading {
    margin-bottom: 60px;
}

.program__acc-item {
    min-height: fit-content;
    margin-bottom: 24px;
}

.program__acc-item:last-child {
    margin-bottom: 0;
}

.program__acc-link {
    display: block;
    padding-left: 40px;
    white-space: normal;
}

.program__acc-head {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-black-sp);
}

.program__acc-head::before,
.program__acc-head::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -40px;
    width: 18px;
    height: 2px;
    background-color: var(--color-red-main);
    border-radius: 2px;
}

.program__acc-head::after {
    transform: rotate(90deg);
    transition: all 0.75s;
}

.program__acc-link--active .program__acc-head::after {
    transform: rotate(0deg);
}

.program__acc-head span {
    font-weight: 400;
    color: var(--color-red-main);
}

.program__acc-text {
    display: none;
    margin-top: 16px;
}

/* ================================================================ */
/* ============================ BLOG ============================== */
.blog__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.blog__heading {
    margin-right: 60px;
}

.blog__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: var(--container-width);
}

.blog__item {
    padding: 15px 5px;
    margin: 0 5px;
    width: 400px;
    min-width: 250px;
    max-width: 400px;
    transition: all 1.5s;
    border-radius: 4px;
    flex-basis: calc(100% / 3.11);
}

.blog__item:hover {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.25),
        0px 30px 24px -10px rgba(154, 156, 165, 0.2),
        0px 12px 18px -6px rgba(154, 156, 165, 0.15),
        0px 4px 4px -4px rgba(30, 33, 44, 0.1);
    transition: all 0.5s;
}

.blog__item:hover .blog__item-button {
    color: var(--color-red-main-dark);
    transition: all 0.5s;
}

.blog__item-link {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.blog__image-box {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 4px;
    position: relative;
}

.blog__image-box img {
    width: 100%;
    height: 100%;
    max-width: 410px;
    object-fit: cover;
}

.blog__image-box span {
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 2px 8px 1px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--color-img-grey);
}

.blog__image-box span img {
    border: none;
    margin-right: 3px;
    width: 12px;
    height: 12px;
}

.blog__item-content {
    display: flex;
    flex-direction: column;
}

.blog__item-info {
    display: flex;
}

.blog__info-el {
    display: flex;
    padding: 8px;
    position: relative;
    color: var(--color-directions-text-grey);
}

.blog__info-el:last-child {
    margin-right: 0;
}

.blog__info-el:first-child {
    padding-left: 0px;
}

.blog__info-el:not(:first-child) {
    padding-left: 25px;
}

.blog__info-el:not(:first-child):after {
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-45%);
    width: 1px;
    height: 12px;
    background-color: var(--color-directions-text-grey);
}

.blog__info-el img {
    position: absolute;
    top: 8px;
    left: 9px;
    width: 13px;
    height: 13px;
    border: none;
}

.blog__info-date {
    position: relative;
}

.blog__info-icon {
    position: absolute;
    top: 20%;
    left: 5px;
    width: 20px;
    height: 20px;
    color: var(--color-directions-text-grey);
    border: none;
    transform: translateY(-20%);
    fill: var(--color-directions-text-grey);
}

.blog__info-icon svg path {
    fill: var(--color-directions-text-grey);
    color: var(--color-directions-text-grey);
}

.blog__item-title {
    max-height: 70px;
    min-height: 70px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 8px;
    color: var(--color-black-sp);
    overflow: hidden;
    white-space: wrap;
}

.blog__item-txt {
    max-height: 75px;
    min-height: 55px;
    overflow: hidden;
    white-space: wrap;
    margin-bottom: 16px;
}

.blog__item-button {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--color-black-sp);
    transition: all 1.5s;
}

.blog__item-button img {
    width: 16px;
    height: 16px;
    border: none;
    margin-left: 8px;
}

#gotoblog_id2 {
    display: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}

/* ================================================================ */
/* ====================== INFO (CONTACTS) ========================= */

.info__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.info__content {
    margin-right: var(--content-margin-right);
}

.info__heading {
    margin-bottom: 40px;
}

.info__contacts {
    margin-bottom: 50px;
}

.info__contacts-item {
    display: flex;
    margin-bottom: 24px;
}

.info__contacts-item:last-child {
    margin-bottom: 0;
}

.info__contactIconSvg {
    width: 17px;
    height: 17px;
    border: none;
    margin: 3px 5px 0 0;
}

.info__item-top {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-directions-text-grey);
}

.info__link {
    color: var(--color-black-sp);
    transition: all 1.5s;
}

.info__link:hover {
    color: var(--color-red-main-dark);
    transition: all 0.75s;
}

.info__item-address {
    color: var(--color-black-sp);
}

.info__item-address span {
    white-space: nowrap;
}

.info__follow-head {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.info__socials {
    display: flex;
}

.info__socials-item {
    margin-right: 20px;
}

.info__socials-item:last-child {
    margin-right: 0;
}

.info__socials-link img {
    width: 20px;
    height: 20px;
    border: none;
    transition: all 1.5s;
}

.info__socials-link img:hover {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%) contrast(100%);
    scale: 1.1;
    transition: all 0.5s;
}

.info__map {
    width: 100%;
    max-width: 705px;
    height: 412px;
    min-width: 280px;
    min-height: 305px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.25),
        0px 30px 24px -10px rgba(154, 156, 165, 0.2),
        0px 12px 18px -6px rgba(154, 156, 165, 0.15),
        0px 4px 4px -4px rgba(30, 33, 44, 0.1);
    border-radius: 4px;
}

.info__map iframe {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* ================================================================ */
/* ========================= QUESTIONS ============================ */
.questions__inner {
    display: flex;
    justify-content: space-between;
}

.questions__img img {
    max-width: 400px;
    height: 100%;
    transform: scaleX(-1);
}

.questions__content {
    display: flex;
    flex-direction: column;
    margin-left: var(--content-margin-right);
}

.questions__heading {
    margin-bottom: 40px;
}

.questions__form-row {
    display: flex;
    margin-bottom: 24px;
}

.questions__form-label {
    display: block;
    padding: 12px 0;
    margin-right: 40px;
    width: 100%;
}

.questions__form-label:last-child {
    margin-right: 0px;
}

.questions__form-input,
.questions__form-text {
    display: block;
    border: 1px solid var(--color-gray-btn);
    border-radius: 4px;
    padding: 13px 16px;
    margin-top: 8px;
    width: calc(100% - 34px);
}

.questions__form-text {
    resize: none;
    height: 128px;
    font-family: Arial, sans-serif;
    font-size: 13.3333px
}

.questions__form-input::placeholder,
.questions__form-text::placeholder {
    color: var(--color-placeholder);
}

.questions__text-label {
    display: block;
    margin-bottom: 50px;
}

.questions__checkbox-label {
    display: flex;
    margin-right: 50px;
    width: 100%;
}

.questions__form-checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    margin: 0 12px 0 0;
}

.questions__form-default {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.questions__form-custom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--color-grey);
    border-radius: 3px;
    transition: all 1.5s;
    padding: 2px;
}

.questions__form-custom:hover {
    cursor: pointer;
    border: 1px solid var(--color-red-main);
    transition: all 0.75s;
}

.questions__form-default:checked+.questions__form-custom {
    background: url("../icons/check-svgrepo-com.svg") 50% 50% no-repeat, var(--color-red-main);
}

.questions__form-custom img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 16px;
    height: 16px;
    border: none;
    padding: 0 1px 1px 0;
}

.questions__form-btn {
    width: 100%;
    flex-grow: 1;
    align-self: center;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* ================================================================ */
/* =========================== MEDIA ============================== */
/* =========================== 1200 =============================== */
@media (max-width: 1200px) {
    .header__title {
        font-size: 52px;
        max-width: 376px;
    }

    .heading__title {
        font-size: 36px;
    }

    .header__img, .program__image img {
        max-width: 400px;
    }

    /* ---------------------------------------------------- */
    .about__img {
        max-width: 400px !important;
    }

    .about__image-box img {
        max-width: 500px;
    }

    /* ---------------------------------------------------- */
    .cert__image-box {
        top: -5%;
    }

    .cert__image-box img {
        max-width: 500px;
        width: 100%;
    }

    /* ---------------------------------------------------- */
    .team__slider .slick-track {
        margin: 0;
    }

    /* ---------------------------------------------------- */
    .testimonials__slide {
        padding: 25px;
        padding-left: 75px;
    }

    .testimonials__slide-inner {
        margin: 0 auto;
    }

    .testimonials__slider-arrow {
        display: none;
    }

    /* ---------------------------------------------------- */
    .blog__item-info {
        font-size: 0.95em;
    }
}


/* =========================== 1100 ==============================*/
@media (max-width: 1100px) {
    .burger {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .5s;
    }

    .burger--follow {
        top: 15px;
        right: 15px;
        background-color: white;
        box-shadow: 0 1px 8px 0 #a1a1a1;
    }

    .burger span {
        display: block;
        width: 25px;
        height: 4px;
        background-color: var(--color-grey);
        border-radius: 3px;
        margin: 4px 0;
    }

    .burger::before,
    .burger::after {
        content: "";
        display: block;
        width: 25px;
        height: 4px;
        background-color: var(--color-grey);
        border-radius: 3px;
    }

    .burger--open .burger::before {
        display: none;
    }

    .burger--open .burger::after {
        transform: translateY(-200%);
    }

    .burger--open .burger span {
        transform: rotate(90deg);
    }

    .burger--open .burger {
        transform: rotate(45deg);
    }

    /* ---------------------------------------------------- */
    .header__top {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        z-index: 100;
        min-width: 320px;
        transform: translateX(100%);
        transition: all .75s;
    }

    .header__top--open {
        transform: translateX(0%);
    }

    .header__top-inner {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0;
    }

    .header__logo {
        margin: 30px 0;
    }

    .header__nav {
        text-align: center;
        margin: 0 auto;
    }

    .header__nav-list {
        flex-direction: column;
    }

    .header__nav-item {
        margin: 0;
    }

    .header__nav-link {
        display: block;
        padding: 15px;
    }

    .header__btn-box {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .header__top-btn {
        margin: 0;
    }

    .header__user-nav {
        margin-bottom: 30px;
    }

    .header__body-logo {
        display: flex;
        justify-content: center;
        margin-top: -50px;
    }

    .header__row-item span {
        font-size: 30px;
    }

    /* ---------------------------------------------------- */
    .team__slide {
        margin: 0 15px;
    }

    /* ---------------------------------------------------- */
    .blog__top {
        margin-bottom: 30px;
    }

    .blog__item-info {
        font-size: 0.9em;
    }

    .blog__item-title {
        font-size: 16px;
    }

    .blog__item-txt {
        font-size: 15px;
    }
}

@media (max-width: 1100px) and (max-height: 1400px) {
    .header {
        max-height: 750px;
    }
}

/* ============================ 992 ===============================*/
@media (max-width: 990px) {
    .program__image img {
        max-width: 318px;
    }

    /* ---------------------------------------------------- */
    .blog__item-info {
        font-size: 12.5px;
    }

    .blog__info-el img {
        top: 10px;
    }
}


/* ============================ 900 ===============================*/

@media (max-width: 900px) {
    .header__img {
        display: none;
    }

    .header__content {
        margin-right: 0;
    }

    .header__title {
        max-width: 100%;
        text-align: center;
        padding: 0 5%;
    }

    .header__content-buttons {
        width: 100%;
        justify-content: center;
    }

    .header__row, .about__img {
        display: none;
    }

    /* ---------------------------------------------------- */
    .main__about {
        padding: 30px 0 40px;
    }

    .main__cert {
        padding: 40px 0 0;
    }

    .main__team {
        padding: 120px 0 30px;
    }

    .main__directions, .main__testimonials, .main__companies,
    .main__program, .main__blog,
    .main__info, .main_questions {
        padding: 40px 0;
    }

    /* ---------------------------------------------------- */
    .about__createx {
        margin-bottom: 90px;
    }

    .about__createx-content {
        max-width: 100%;
    }

    .about__btn-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__btn {
        margin: 0 0 30px 0;
    }

    .about__btn-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .about__btn {
        margin: 0 10px 0;
    }

    #laptop_img_id {
        display: none;
    }

    #students_img_2 {
        display: block;
        max-width: 427px !important;
        object-fit: cover;
        margin: 0 0;
    }

    /* ---------------------------------------------------- */
    .directions__filter-box {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .directions__filter-item {
        flex-basis: calc(100% / 20.1);
        margin: 10px;
    }

    .directions__list {
        gap: 30px 10px;
    }

    .directions__link-content {
        padding: 24px 5px 5px;
    }

    /* ---------------------------------------------------- */
    .cert__content {
        min-width: 100%;
    }

    .cert__inner {
        display: flex;
        flex-direction: column;
    }

    .cert__image-box {
        position: relative;
        top: 0;
        left: 0;
        justify-content: center;
        margin-top: 25px;
    }

    .cert__image-box {
        display: flex;
    }

    .cert__logos {
        display: flex;
        justify-content: center;
    }

    /* ---------------------------------------------------- */
    .team__slider-arrow svg {
        width: 18px;
        height: 18px;
        padding: 12.5px;
    }

    /* ---------------------------------------------------- */
    .companies__grid {
        grid-template: repeat(3, auto) / repeat(4, 1fr);
    }

    /* ---------------------------------------------------- */
    .program__content {
        max-width: 100%;
    }

    .program__image {
        display: none;
    }

    /* ---------------------------------------------------- */
    .blog__row {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .blog__item {
        flex-basis: calc(100% / 2.1);
    }

    .blog__item-info {
        font-size: 14px;
    }

    .blog__info-el img {
        top: 8px;
    }
}

@media (max-width: 900px) and (min-height: 500px) {
    .header {
        max-height: 550px;
    }
}


/* ============================ 750 ===============================*/

@media (max-width: 750px) {
    .info__inner {
        flex-direction: column;
    }

    .info__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        /* padding: 0 15px; */
    }

    .info__content .heading {
        padding-left: 0;
        padding-right: 0;
    }

    .info__map {
        margin-top: 30px;
    }
}

/* ============================ 700 ===============================*/
@media (max-width: 700px) {
    .about__values {
        flex-direction: column;
        align-items: center;
    }

    .about__numbers {
        align-self: center;
        margin-top: 30px;
    }

    .directions__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .directions__list-item {
        flex-basis: calc(100% / 2.1);
        min-width: 217px;
        margin-bottom: 10px;
    }

    /* ---------------------------------------------------- */
    .companies__grid-link {
        width: 72px;
        height: 48px;
    }

    /* ---------------------------------------------------- */
    .blog__item-info {
        flex-flow: row wrap;
        justify-content: space-between;
        min-height: fit-content;
        margin-bottom: 15px;
    }

    .blog__info-el {
        margin: 0;
        padding: 1px 0;
    }

    .blog__info-el::before {
        display: none;
    }

    .blog__info-el:not(:first-child):after {
        display: none;
    }

    .blog__info-el:not(:first-child) {
        padding-left: 17px;
    }

    .blog__info-date {
        flex-basis: 100%;
        order: 3;
    }

    .blog__info-el img {
        top: 1px;
        left: 0;
    }
}

/* ============================ 600 ===============================*/

@media (max-width: 600px) {
    .companies__grid {
        grid-template: repeat(4, auto) / repeat(3, 1fr);
    }
}

/* ============================ 550 ===============================*/

@media (max-width: 550px) {
    .heading {
        margin-bottom: 20px;
    }

    .heading__title {
        font-size: 30px;
    }

    .heading__subtitle {
        font-size: 18px;
    }

    /* ---------------------------------------------------- */
    .header__title {
        max-width: none;
        font-size: 35px;
    }

    /* ---------------------------------------------------- */
    .about__text {
        border-top: -40px;
    }

    .about__image-box {
        flex-direction: column;
    }

    .about__btn-box {
        flex-direction: column;
        align-items: center;
    }

    .about__btn {
        margin: 0 0 30px 0;
        max-width: 200px;
        min-width: 200px;
    }

    .about__paragraph {
        font-size: inherit;
    }

    .about__createx {
        margin-bottom: 40px;
    }

    /* ---------------------------------------------------- */
    .team__slider .slick-list {
        margin: 0;
    }

    .team__slider-arrows {
        margin-bottom: -4px;
    }

    .team__slider-arrow svg {
        width: 16px;
        height: 16px;
        padding: 11px;
    }

    /* ---------------------------------------------------- */
    .blog__top {
        margin-bottom: 0px;
    }

    .blog__row {
        justify-content: center;
    }

    .blog__item {
        flex-basis: calc(100% / 1.1);
        margin: 5px 0;
    }

    .blog__item-info, .blog__item-title, .blog__item-txt {
        min-height: fit-content;
    }

    .blog__item-txt {
        padding: 2px 0;
    }

    #gotoblog_id1 {
        display: none;
    }

    #gotoblog_id2 {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}

/* ============================ 450 ===============================*/

@media (max-width: 450px) {
    .header__top {
        min-width: none;
        left: 0;
    }

    .container {
        padding: 0 var(--gap450);
        padding: 0;
    }

    .heading {
        padding: 0 var(--gap450);
    }

    .heading__title {
        font-size: 30px;
    }

    /* ------------------------------------------------- */
    .header__play {
        padding: 0 var(--gap450);
    }

    .header__title {
        max-width: none;
        font-size: 35px;
    }

    .header__content-buttons {
        flex-direction: column;
        align-items: center;
    }

    .header__content-buttons .button-empty {
        margin: 0 0 20px;
    }

    /* ------------------------------------------------- */
    .about__text {
        padding: 0 var(--gap450);
    }

    .about__number span {
        font-size: 30px;
    }

    #students_img_2 {
        max-width: 100% !important;
        border: none;
        border-radius: 0;
    }

    /* ------------------------------------------------- */
    .directions__list-item {
        flex-basis: calc(100% / 1.1);
    }

    /* ------------------------------------------------- */
    .cert__text {
        padding: 0 var(--gap450);
    }

    .cert__image-box img {
        max-width: 95%;
        margin-bottom: -25px;
    }

    /* ------------------------------------------------- */
    .team__slider-arrow:last-child {
        margin-right: 10px;
    }

    .team__slider-arrow svg {
        width: 14px;
        height: 14px;
        padding: 9.5px;
    }

    /* ------------------------------------------------- */
    .testimonials__slider-wrapper {
        margin: 0 15px;
        max-width: calc(100% - 30px);
    }

    .testimonials__slider {
        margin: 0 15px;
        padding: 0;
    }

    .testimonials__slide {
        padding: 20px 10px;
        padding-left: 40px;
    }

    .testimonials__slide-inner {
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .testimonials__quote:before {
        left: -35px;
    }

    /* ------------------------------------------------- */
    .companies__grid {
        margin: 0 15px;
        grid-template: repeat(6, auto) / repeat(2, 1fr);
    }

    .program__acc {
        margin: 0 15px;
    }

    /* ------------------------------------------------- */

    .info__map iframe {
        border-radius: 0;
        border: none !important;
    }

    .info__content {
        padding: 0 15px;
    }

    .info__socials-item {
        margin-right: 15px;
    }
}


/* ============================ 400 ===============================*/

@media (max-width: 400px) {
    .header__top {
        min-width: none;
        left: 0;
    }

    .header__logo {
        margin: -15px 0 0px;
    }

    .header__btn-box {
        margin-top: 15px;
    }

    .header__nav-link {
        padding: 8px;
    }

    /* ------------------------------------------------- */
    .cert__logos-item img {
        max-width: 60px;
        max-height: 37.5px;
    }

    /* ------------------------------------------------- */
    .team__slider .slick-track {
        margin: 0;
    }

    .team__slider .team__slide {
        margin: 0 10px;
        max-width: 400px;
        min-width: 260px;
    }

    .team__slider-arrows {
        display: none;
    }

    /* ------------------------------------------------- */
    .blog__item {
        max-width: 320px;
    }
}

@media (max-width: 400px) and (max-height: 500px) {
    .header__logo {
        margin-top: -45px;
    }

    .header__nav-link {
        padding: 6px;
    }
}

@media (max-width: 400px) and (max-height: 400px) {
    .header__logo {
        margin-top: -75px;
    }

    .header__nav-link {
        padding: 4px;
    }
}

/* 19:38:02 */