.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 180px;
}

.about__createx img {
    max-width: 427px;
    max-height: 427px;
}

.about__createx-content {
    max-width: 600px;
    margin-right: var(--content-margin-right);
}

.about__heading {
    margin-bottom: 48px;
}

.about__text {
    margin-bottom: 60px;
}

.about__paragraph {
    margin-bottom: 24px;
}

.about__paragraph:last-child {
    margin-bottom: 0;
}

.about__paragraph--accent {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-black-sp)
}

.about__btn-box {
    display: flex;

}

.about__btn {
    margin-right: 24px;
}

.about__btn:last-child {
    margin-right: 0;
}

.about__values {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__image-box {
    border-radius: 4px;
}

.about__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__numbers {
    margin-left: var(--content-margin-right);
    align-self: center;
}

.about__number {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about__number:last-child {
    margin-bottom: 0;
}

.about__number span {
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: var(--color-red-main);
    margin-right: 16px;
}