:root {
    --container-width: 1230px;
    --gap: 15px;
    --gap450: 1%;
    --content-margin-right: 30px;
    --max-height-cert__image-box-img: 427px;
    --max-width-team__slide: 265px;
    --color-grey: #424551;
    --color-img-grey: #cfcfcf;
    --color-black-sp: #1e212c;
    --color-red-main: #ff3f3a;
    --color-red-main-opacity012: rgb(255, 63, 58, 0.12);
    --color-red-main-opacity02: rgb(255, 63, 58, 0.2);
    --color-red-main-dark: rgb(180, 6, 0);
    --color-orange: #f75e05;
    --color-orange-opacity02: rgb(247, 94, 5, 0.2);

    --color-gray-btn: #9a9ca5;
    --color-section-bg: #e7f6ff;
    /* --color-section-bg: #d8d8d8; */
    /* --color-section-bg: #f4f5f7; */

    --color-directions-text-grey: #787a80;
    --color-direction-list-empty: #e9e9e9;
    --color-marketing-link-tag: #03CEA4;
    --color-management-link-tag: #5a87fc;
    --color-hr-link-tag: #f89828;
    --color-design-link-tag: #f25f6e;
    --color-development-link-tag: #5e5cb3;
    --color-border-form-element: #d7dadd;
    --color-placeholder: #9a9ca5;
    --bg-color-footer-bottom: #292c37;
}

html, body {
    font-family: sans-serif;
    color: var(--color-grey)
}

img {
    border: 1px solid var(--color-img-grey);
    border-radius: 3px;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: calc(var(--container-width) + var(--gap) + var(--gap));
    padding: 0 var(--gap);
    margin: 0 auto;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: all .75s;
}

.overlay--show {
    visibility: visible;
    opacity: 1;
}

.burger {
    display: none;
}

.main__about {
    padding: 30px 0 80px;
    background-color: var(--color-section-bg);
}

.main__directions {
    padding: 80px 0;
}

.main__cert {
    padding: 80px 0 0;
    margin-bottom: -46px;
    background-color: var(--color-section-bg);
}

.main__team {
    padding: 180px 0 60px;
}

.main__testimonials {
    padding: 80px 0;
    background-color: var(--color-section-bg);
}

.main__companies {
    padding: 80px 0;
}

.main__program {
    padding: 80px 0;
    background-color: var(--color-section-bg);
}

.main__blog {
    padding: 80px 0;
}

.main__info {
    padding: 80px 0;
    background-color: var(--color-section-bg);
}

.main_questions {
    padding: 80px 0;
}

.button {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    margin-right: 5px;
    color: #fff !important;
    border-radius: 4px;
    background: linear-gradient(55.95deg, var(--color-red-main) 0%, var(--color-orange) 100%);
    white-space: nowrap;
    transition: all 0.5s;
}

.button a {
    color: #fff;
}

.button-empty {
    background-image: none;
    border-left: 2px solid var(--color-red-main);
    border-right: 2px solid var(--color-orange);
    background-image: -webkit-linear-gradient(55.95deg, var(--color-red-main), var(--color-orange)), -webkit-linear-gradient(55.95deg, var(--color-red-main), var(--color-orange));
    background-image: linear-gradient(55.95deg, var(--color-red-main), var(--color-orange)), linear-gradient(55.95deg, var(--color-red-main), var(--color-orange));
    background-size: 100% 2px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.button-empty span {
    background: linear-gradient(55.95deg, var(--color-red-main), var(--color-orange));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--color-red-main);
}

.heading {
    color: var(--color-black-sp)
}

.heading--text-center {
    text-align: center;
}

.heading__subtitle {
    line-height: 150%;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.heading__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

.button:hover {
    transform: scale(1.03);
}

a {
    text-decoration: none;
    white-space: nowrap;
    color: var(--color-grey)
}

a:visited {
    color: var(--color-grey)
}

/* ========================= SLIDER ==============================*/

.global__slider-arrow svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 14px;
    transition: all .75s;
}

.global__slider-arrow svg:hover {
    scale: 1.1;
    background-color: var(--color-red-main);
}

.global__slider-arrow path {
    fill: var(--color-grey);
    transition: all .5s;
}

.global__slider-arrow:hover path {
    fill: white;
}

.global__slider-prev {
    margin-right: 10px;
}

.global__slider-prev svg {
    transform: scaleX(-1);
}

/* =========================================================*/
/* ================= HEADER ================= */

.header {
    font-weight: 700;
    background: linear-gradient(55.95deg, var(--color-red-main-opacity02), var(--color-orange-opacity02));
    height: 100vh;
    padding-bottom: 20px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: 100%;
}

.header__logo {
    margin-right: 60px;
    color: var(--color-grey);
    transition: all 2s;
}

.header__logo img {
    border: none;
}

.header__logo:hover {
    scale: 1.05;
    transition: all 0.5s;
}

.header__nav {
    margin-right: auto;

}

.header__nav a {
    color: var(--color-grey);
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    line-height: 1.6;
    white-space: nowrap;
    transition: all 0.3s;
}

.header__nav-link:hover {
    color: var(--color-red-main);
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__top-btn:visited {
    color: #fff;
}

.header__user-nav {
    position: relative;
    padding-left: 28px;
    white-space: nowrap;
}

.header__user-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../icons/3643745-human-man-people-person-profile_113435.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    color: var(--color-grey);
}

.header__user-btn:hover {
    color: var(--color-red-main);
}

/* ------------------------------------------------------------------ */


.header__body {
    flex-grow: 1;
    margin-top: 30px;
    padding-top: 50px;
}

.header__body-logo {
    width: 100%;
    height: 92px;
    display: none;
}

.header__body-logo a {
    margin: 0 0;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-black-sp);
}

.header__content {
    margin-right: var(--content-margin-right);
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.header__play svg {
    fill: var(--color-red-main-dark);
    background-color: var(--color-red-main);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 18px;
    transition: all 0.4s;
}

.header__play svg:hover {
    fill: var(--color-red-main);
    background-color: white;
    box-shadow: 0 0 0 16px var(--color-red-main-opacity012);
}

.header__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 60px;
}

.header__content-buttons {
    display: flex;
}

.header__content_btn {
    margin-right: 24px;
}

.header__content_btn:last-child {
    margin-right: 0;
}

.header__img {
    border-radius: 4px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-top: 80px;
}

.header__row li .red_dot {
    display: block;
    background-color: var(--color-red-main);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 15px;
}

.header__row-item span {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    vertical-align: middle;
    margin-right: 12px;
}

/* ------------------------------------------------------------------ */

/* =========================== ABIUT ==============================*/

.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 180px;
}

.about__createx img {
    max-width: 427px;
    max-height: 427px;
}

.about__createx-content {
    max-width: 600px;
    margin-right: var(--content-margin-right);
}

.about__heading {
    margin-bottom: 48px;
}

.about__text {
    margin-bottom: 60px;
}

.about__paragraph {
    margin-bottom: 24px;
}

.about__paragraph:last-child {
    margin-bottom: 0;
}

.about__paragraph--accent {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-black-sp)
}

.about__btn-box {
    display: flex;

}

.about__btn {
    margin-right: 24px;
}

.about__btn:last-child {
    margin-right: 0;
}

.about__values {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__image-box {
    border-radius: 4px;
}

.about__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__numbers {
    margin-left: var(--content-margin-right);
    align-self: center;
}

.about__number {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about__number:last-child {
    margin-bottom: 0;
}

.about__number span {
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: var(--color-red-main);
    margin-right: 16px;
}


/* ================================================================*/
/* =========================== MEDIA ==============================*/
/* =========================== 1200 ==============================*/
@media (max-width: 1200px) {
    .header__title {
        font-size: 52px;
        max-width: 376px;
    }

    .heading__title {
        font-size: 36px;
    }


    .header__img, .program__image img {
        max-width: 400px;
    }

    .about__img {
        max-width: 400px !important;
    }

    .about__image-box img, .cert__image-box img {
        max-width: 500px;
    }

}



/* =========================== 1100 ==============================*/
@media (max-width: 1100px) {
    .burger {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .5s;
    }

    .burger--follow {
        top: 15px;
        right: 15px;
        background-color: white;
        box-shadow: 0 1px 8px 0 #a1a1a1;
    }

    .burger span {
        display: block;
        width: 25px;
        height: 4px;
        background-color: var(--color-grey);
        border-radius: 3px;
        margin: 4px 0;
    }

    .burger::before,
    .burger::after {
        content: "";
        display: block;
        width: 25px;
        height: 4px;
        background-color: var(--color-grey);
        border-radius: 3px;
    }

    .burger--open .burger::before {
        display: none;
    }

    .burger--open .burger::after {
        transform: translateY(-200%);
    }

    .burger--open .burger span {
        transform: rotate(90deg);
    }

    .burger--open .burger {
        transform: rotate(45deg);
    }

    .header__top {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        z-index: 100;
        min-width: 320px;
        transform: translateX(100%);
        transition: all .75s;
    }

    .header__top--open {
        transform: translateX(0%);
    }

    .header__top-inner {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0;
    }

    .header__logo {
        margin: 30px 0;
    }

    .header__nav {
        text-align: center;
        margin: 0 auto;
    }

    .header__nav-list {
        flex-direction: column;
    }

    .header__nav-item {
        margin: 0;
    }

    .header__nav-link {
        display: block;
        padding: 15px;
    }

    .header__btn-box {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .header__top-btn {
        margin: 0;
    }

    .header__user-nav {
        margin-bottom: 30px;
    }

    .header__body-logo {
        display: flex;
        justify-content: center;
        margin-top: -50px;
    }

    .header__row-item span {
        font-size: 30px;
    }
}

@media (max-width: 1100px) and (max-height: 1400px) {
    .header {
        max-height: 750px;
    }
}

/* ============================ 900 ===============================*/

@media (max-width: 900px) {
    .header__img {
        display: none;
    }

    .header__content {
        margin-right: 0;
    }

    .header__title {
        max-width: 100%;
        text-align: center;
        padding: 0 5%;
    }

    .header__content-buttons {
        width: 100%;
        justify-content: center;
    }

    .header__row, .about__img {
        display: none;
    }

    .about__createx-content {
        max-width: 100%;
    }

    .about__btn-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__btn {
        margin: 0 0 30px 0;
    }

    .about__btn-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .about__btn {
        margin: 0 10px 0;
    }
}


@media (max-width: 900px) and (min-height: 500px) {
    .header {
        max-height: 550px;
    }
}

/* ============================ 550 ===============================*/

@media (max-width: 550px) {
    .header__title {
        max-width: none;
        font-size: 35px;

    }

    .heading__title {
        font-size: 30px;
    }

    .about__image-box {
        flex-direction: column;
    }

    .about__btn-box {
        flex-direction: column;
        align-items: center;
    }

    .about__btn {
        margin: 0 0 30px 0;
        max-width: 200px;
        min-width: 200px;
    }

    .about__paragraph {
        font-size: inherit;
    }
}

/* ============================ 450 ===============================*/


@media (max-width: 450px) {
    .header__top {
        min-width: none;
        left: 0;
    }

    .container {
        padding: 0 var(--gap450);
    }


    /* ------------------------------- */
    .header__title {
        max-width: none;
        font-size: 35px;
    }

    .heading__title {
        font-size: 30px;
    }

    .header__content-buttons {
        flex-direction: column;
        align-items: center;
    }

    .header__content-buttons .button-empty {
        margin: 0 0 20px;
    }



}

/* ============================ 400 ===============================*/

@media (max-width: 400px) {
    .header__top {
        min-width: none;
        left: 0;
    }

    .header__logo {
        margin: -15px 0 0px;
    }

    .header__btn-box {
        margin-top: 15px;
    }

    .header__nav-link {
        padding: 8px;
    }
}

@media (max-width: 400px) and (max-height: 500px) {
    .header__logo {
        margin-top: -45px;
    }

    .header__nav-link {
        padding: 6px;
    }
}

@media (max-width: 400px) and (max-height: 400px) {
    .header__logo {
        margin-top: -75px;
    }

    .header__nav-link {
        padding: 4px;
    }
}

/* 18:00:00 */