/* ================= HEADER ================= */

.header {
    font-weight: 700;
    background: linear-gradient(55.95deg, var(--color-red-main-opacity02), var(--color-orange-opacity02));
    height: 100vh;
    padding-bottom: 20px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    height: 100%;
}

.header__logo {
    margin-right: 60px;
    color: var(--color-grey);
    transition: all 2s;
}

.header__logo img {
    border: none;
}

.header__logo:hover {
    scale: 1.05;
    transition: all 0.5s;
}

.header__nav {
    margin-right: auto;

}

.header__nav a {
    color: var(--color-grey);
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    line-height: 1.6;
    white-space: nowrap;
    transition: all 0.3s;
}

.header__nav-link:hover {
    color: var(--color-red-main);
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__top-btn:visited {
    color: #fff;
}

.header__user-nav {
    position: relative;
    padding-left: 28px;
    white-space: nowrap;
}

.header__user-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url("../icons/3643745-human-man-people-person-profile_113435.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    color: var(--color-grey);
}

.header__user-btn:hover {
    color: var(--color-red-main);
}

/* ------------------------------------------------------------------ */


.header__body {
    flex-grow: 1;
    margin-top: 30px;
    padding-top: 50px;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-black-sp);
}

.header__content {
    margin-right: var(--content-margin-right);
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.header__play svg {
    fill: var(--color-red-main-dark);
    background-color: var(--color-red-main);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 18px;
    transition: all 0.4s;
}

.header__play svg:hover {
    fill: var(--color-red-main);
    background-color: white;
    box-shadow: 0 0 0 16px var(--color-red-main-opacity012);
}

.header__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 60px;
}

.header__content-buttons {
    display: flex;
}

.header__content_btn {
    margin-right: 24px;
}

.header__content_btn:last-child {
    margin-right: 0;
}

.header__img {
    border-radius: 4px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-top: 80px;
}

.header__row li .red_dot {
    display: block;
    background-color: var(--color-red-main);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 15px;
}

.header__row-item span {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    vertical-align: middle;
    margin-right: 12px;
}

/* ------------------------------------------------------------------ */