.team__heading {
    position: relative;
    margin-bottom: 60px;
}

.team__slider-arrows {
    position: absolute;
    bottom: 0;
    right: 0;
}

.team__slider-arrow svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 14px;
    transition: all .75s;
}

.team__slider-arrow svg:hover {
    scale: 1.1;
    background-color: var(--color-red-main);
}

.team__slider-arrow path {
    fill: var(--color-grey);
    transition: all .5s;
}

.team__slider-arrow:hover path {
    fill: white;
}

.team__slider-prev {
    margin-right: 10px;
}

.team__slider-prev svg {
    transform: scaleX(-1);
}

.team__slider .slick-list {
    margin: 0 -25px;
}

.team__slide {
    max-width: var(--max-width-team__slide);
    margin: 0 33px;
}

.team__slide:hover .team__socials {
    transform: translateY(0%);
    cursor: pointer;
}

.team__image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
}

.team__image {
    position: relative;
    width: 100%;
    height: 100%;
}

.team__image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    border: none;
}

.team__socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 10px 0px;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%,
            rgba(30, 33, 44, 0.03) 52.21%,
            rgba(30, 33, 44, 0.33) 68.72%,
            rgba(30, 33, 44, 0.56) 76.16%,
            rgba(30, 33, 44, 0.76) 83.75%,
            rgba(30, 33, 44, 0.92) 91.49%,
            #1e212c 100%);
    transform: translateY(50%);
    transition: all .5s
}

.team__socials-item {
    position: absolute;
    right: 20px;
    bottom: 20px;
    margin: 4px 3px;
}

.team__socials-item:nth-child(2) {
    position: absolute;
    right: 52px;
    bottom: 20px;
    margin: 4px 3px;
}

.team__socials-item:last-child {
    position: absolute;
    right: 84px;
    bottom: 20px;
    margin: 4px 3px;
}

.team__socials-link svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--color-directions-text-grey);
    transition: all .5s;
}

.team__socials-link svg:hover {
    fill: white;
}

.team__info {
    text-align: center;
}

.team__info-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 5px;
}

.team__info-position {
    color: var(--color-directions-text-grey);
    line-height: 130%;
}

.slick-dots {
    display: flex;
    justify-content: center;
}

.slick-dots button {
    margin: 25px 15px;
    font-weight: 700;
    border: none;
    background: none;
    font-size: 16px;
    color: var(--color-directions-text-grey);
}

.slick-dots .slick-active button {
    color: var(--color-design-link-tag);
}

.slick-dots button:hover {
    color: var(--color-red-main-dark);
    cursor: pointer;
}