.cert__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.cert__content {
    margin-right: var(--content-margin-right);
    max-width: 400px;
}

.cert__heading {
    margin-bottom: 50px;
}

.cert__text {
    margin-bottom: 30px;
}

.cert__logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cert__logos-item {
    margin-right: 40px;
}

.cert__logos-item:last-child {
    margin-right: 0;
}

.cert__logos-item img {
    max-width: 80px;
    max-height: 50px;
    border: none;
}

.cert__image-box {
    position: absolute;
    top: 0;
    left: 50%;
    max-height: var(--max-height-cert__image-box-img);
}

.cert__image-box img {
    position: relative;
    max-height: var(--max-height-cert__image-box-img);
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.4),
        0px 30px 24px -10px rgba(154, 156, 165, 0.3),
        0px 12px 18px -6px rgba(154, 156, 165, 0.2),
        0px 4px 4px -4px rgba(30, 33, 44, 0.1);
}